.page {
  width: 100%;
  height: calc(100% - 20px);
  display: none;
  padding-bottom: 20px;
}

.page .p-nav {
  display: flex;
  align-items: center;
  gap: 10px;
  filter: drop-shadow(2px 2px 2px rgb(var(--primary-color-rgb), 0.5));
  width: 100%;
  margin-bottom: 20px;
}

.page .p-nav img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.page .p-nav p {
  font-size: calc(1.5rem + 0.5vw);
  line-height: normal;
  font-weight: 500;
  letter-spacing: 0.32px;
  background-image: var(--primary-linear);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input,
textarea {
  width: 100%;
  padding: 15px 10px;
  font-size: large;
  border: 1px solid rgba(var(--primary-color-rgb), 0.4);
  border-radius: 15px;
}
input::placeholder,
textarea::placeholder {
  color: rgba(var(--primary-color-rgb), 0.4);
  font-weight: 500;
}
textarea {
  resize: vertical;
  min-height: 180px;
  max-height: 240px;
}
button {
  width: 100%;
  padding: 15px 10px;
  border-radius: 15px;
  font-size: large;
  font-weight: 500;
  background-image: var(--primary-linear);
  color: var(--background-color);
  border: none;
  cursor: pointer;
}

/* Page - ContactMe */

.page .contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.page .contact .input-group {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

/* Page - Services */

.services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.services .service:nth-child(1) {
  grid-column: 1 / 2 span;
}

.services .service {
  border: 1px solid rgba(var(--primary-color-rgb), 0.4);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.services .service:not(:has(ul)) {
  display: flex;
  flex-direction: column;
}

.services .service ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.services .service ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.services .service .service-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 15px;
  max-height: 50px;
  grid-column: 1 / 2 span;
}

.services .service .service-title h2 {
  font-size: x-large;
  font-weight: 600;
  letter-spacing: 0.64px;
  color: var(--btn-color);
  line-height: normal;
}

.services .service .service-title img {
  width: 50px;
  height: 50px;
}

.services .service .service-title a {
  margin-left: auto;
}

.services .service a {
  margin-top: auto;
  text-align: center;
}

.services .service:has(ul) > a {
  display: none;
}

/* Page - Achievements */

.achievements {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-left: 20px;
}

.achievements::before {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 100%;
  top: 0px;
  left: 0px;
  border-radius: 2px;
  background-color: var(--primary-color);
  filter: drop-shadow(2px 2px 2px rgb(var(--primary-color-rgb), 0.5));
}

.achievements::after {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 6px;
  top: calc(100% + 5px);
  left: 0px;
  border-radius: 2px;
  background-color: var(--primary-color);
  box-shadow: 0 10px 0 0 var(--primary-color),
  0 20px 0 0 var(--primary-color);
  filter: drop-shadow(2px 2px 2px rgb(var(--primary-color-rgb), 0.5));
}

.achievements .achievement {
  display: flex;
  flex-direction: row;
  gap: 10px;
}


.achievements .achievement:first-of-type::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: -15px;
  left: calc(8px / -2 + 5px / -2 + 0.4px);
  border-radius: 50%;
  border: 5px solid var(--primary-color);
  filter: drop-shadow(2px 2px 2px rgb(var(--primary-color-rgb), 0.5));
  z-index: 1;
}

.achievements .achievement .date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.achievements .achievement .date p {
  font-size: larger;
  font-weight: 800;
  letter-spacing: 2px;
  background-image: var(--primary-linear);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 2px 2px rgb(var(--primary-color-rgb), 0.5));
  position: relative;
}

.achievements .achievement .date p::after {
  content: "";
  display: block;
  position: absolute;
  width: 90px;
  height: 5px;
  left: -20px;
  border-radius: 2px;
  background-color: var(--primary-color);
  z-index: 1;
}

.achievements .achievement .date img {
  width: 60px;
  height: 60px;
  filter: drop-shadow(2px 2px 1px var(--border-color));
}

.achievements .achievement .text {
  display: flex;
  flex-direction: column;
  justify-content: end;
  line-height: normal;
}

.achievements .achievement .text p {
  font-size: larger;
  font-weight: 600;
  letter-spacing: 1px;
}

.achievements .achievement .text span {
  font-size: small;
  font-weight: 400;
  padding-bottom: 4px;
}