.page {
  width: 100%;
  height: calc(100% - 20px);
  display: none;
}

.page .p-nav {
  display: flex;
  align-items: center;
  gap: 10px;
  filter: drop-shadow(2px 2px 2px rgb(var(--primary-color-rgb), 0.5));
  width: 100%;
  margin-bottom: 20px;
}

.page .p-nav img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.page .p-nav p {
  font-size: calc(1.5rem + 0.5vw);
  line-height: normal;
  font-weight: 500;
  letter-spacing: 0.32px;
  background-image: var(--primary-linear);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input,
textarea {
  width: 100%;
  padding: 15px 10px;
  font-size: large;
  border: 1px solid rgba(var(--primary-color-rgb), 0.4);
  border-radius: 15px;
}
input::placeholder,
textarea::placeholder {
  color: rgba(var(--primary-color-rgb), 0.4);
  font-weight: 500;
}
textarea {
  resize: vertical;
  min-height: 180px;
  max-height: 240px;
}
button {
  width: 100%;
  padding: 15px 10px;
  border-radius: 15px;
  font-size: large;
  font-weight: 500;
  background-image: var(--primary-linear);
  color: var(--background-color);
  border: none;
  cursor: pointer;
}

/* Page - ContactMe */

.page .contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.page .contact .input-group {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

/* Page - Services */
.services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.services .service:nth-child(1) {
  grid-column: 1 / 2 span;
}

.services .service {
  border: 1px solid rgba(var(--primary-color-rgb), 0.4);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.services .service:not(:has(ul)) {
  display: flex;
  flex-direction: column;
}

.services .service ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.services .service ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.services .service .service-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 15px;
  max-height: 50px;
  grid-column: 1 / 2 span;
}

.services .service .service-title h2 {
  font-size: x-large;
  font-weight: 600;
  letter-spacing: 0.64px;
  color: var(--btn-color);
  line-height: normal;
}

.services .service .service-title img {
  width: 50px;
  height: 50px;
}

.services .service .service-title a {
  margin-left: auto;
}

.services .service a {
  margin-top: auto;
  text-align: center;
}

.services .service:has(ul) > a {
  display: none;
}
